@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin centeredFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shorttText() {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

@function marginAdjust($width, $margin) {
    @return calc(#{$width} - (#{$margin} * 2));
}

body {
    margin: 0;
    overflow: hidden;
}

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
    @keyframes animateGlow {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
}

@keyframes textColor {
    0% {
        color: #7e0fff;
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: #7e0fff;
    }
}

.rect {
    &-box {
        width: 345px; //300
        height: 517.5px; //450
        @include absoluteCenter();
        background: white;
    }
    &-border {
        z-index: 4;
        opacity: 0;
        transition: opacity 2s ease-in-out, box-shadow 1.45s ease-in-out;
        position: absolute;
        margin: 20px;
        width: marginAdjust(100%, 20px);
        height: marginAdjust(100%, 20px);
        box-shadow: inset 0 0 0 7px black;
        pointer-events: none;
    }
    &-menu {
        width: marginAdjust(100%, 28px);
        height: marginAdjust(100%, 28px);
        @include centeredFlex();
        flex-direction: column;
        padding: 28px;
        &-container {
            opacity: 0;
            transition: opacity 2s ease-in-out;
        }
    }
    &-background {
        width: 0;
        height: 0;
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        transition: 0.25s height cubic-bezier(0.4, 0, 1, 1), 0.25s width cubic-bezier(0.4, 0, 1, 1);
        z-index: -1;
    }
}

.hand {
    position: absolute;
    opacity: 0;
    transition: opacity 1.6s ease-in-out;
    z-index: 5;
    &-despair {
        top: 75%;
        left: -60%;
    }
    &-help {
        top: -15%;
        left: 72%;
    }
    &-image {
        &-despair {
            height: 195px;
            width: auto;
        }
        &-help {
            height: 310px;
            width: auto;
        }
    }
}

.menu {
    &-main {
        &-title {
            color: black;
            text-align: center;
            margin: 0;
            @include shorttText();
            cursor: pointer;
        }
    }
    &-nav {
        display: none;
        opacity: 0;
        &-option {
            @include shorttText();
            cursor: pointer;
            transition: color 0.25s linear;
            &:hover {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    &-about {
        background: url(./../../assets/jungle.jpg);
        background-size: cover;
    }
    &-contact {
        background: white;
        &-option {
            flex: 1;
            @include centeredFlex();
            &-text {
                @include shorttText();
                font-size: 2em;
                cursor: pointer;
                margin: 0;
                transition: color 0.15s linear;
                color: black;
                &:hover {
                    color: rgba(255, 255, 255, 0.6);
                }
                //linear-gradient(#00dcff,#e5fbff 80%, white) with white background
            }
        }
    }
}