@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.content-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  margin: 0;
  overflow: hidden; }

@keyframes textColor {
  0% {
    color: #7e0fff; }
  50% {
    color: #0fffc1; }
  100% {
    color: #7e0fff; } }
.rect-box {
  width: 305px;
  height: 477.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white; }
.rect-previous {
  position: absolute;
  top: 0;
  transform-origin: left;
  transform: rotate(-90deg) translateX(-82%) translateY(-50%);
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding: 2px;
  margin: 0;
  cursor: pointer;
  opacity: 1;
  color: black;
  transition: opacity .7s ease-in-out, color .25s linear; }
  .rect-previous:hover {
    color: rgba(0, 0, 0, 0.6); }
.rect-menu {
  width: 249px;
  height: 421.500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .rect-menu-container {
    opacity: 0;
    transition: width 0.75s ease-out, height 0.75s ease-out, opacity 2s ease-in-out, border 1.45s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 7px solid black; }
.rect-background {
  width: 0;
  height: 0;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  transition: 0.25s height cubic-bezier(0.4, 0, 1, 1), 0.25s width cubic-bezier(0.4, 0, 1, 1);
  z-index: -1; }

.about-portrait {
  flex: 1;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../assets/about/cool.jpg); }
.about-working {
  flex: 2;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../assets/about/working.jpg); }
.about-mix {
  flex: 2;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../assets/about/mix001.png); }
.about-desc {
  flex-direction: column;
  display: flex; }
  .about-desc > hr {
    flex: 1;
    width: 70%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .about-desc-text {
    text-align: center;
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    flex: 2; }
.about-title {
  text-align: center;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  flex: 2;
  margin-top: 5px; }
.about-list {
  text-align: center;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  flex: 2;
  margin: 7px 0px; }

.hand {
  position: absolute;
  opacity: 0;
  transition: opacity 1.6s ease-in-out;
  z-index: 5;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none; }
  .hand-despair {
    top: 79%;
    left: -70%; }
  .hand-help {
    top: -24%;
    left: 74%; }
  .hand-image-despair {
    height: 195px;
    width: auto; }
  .hand-image-help {
    height: 310px;
    width: auto; }

.menu-main-title {
  color: black;
  text-align: center;
  margin: 0;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  cursor: pointer; }
.menu-nav {
  display: none;
  opacity: 0; }
  .menu-nav-option {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    cursor: pointer;
    transition: color 0.25s linear; }
    .menu-nav-option:hover {
      color: rgba(0, 0, 0, 0.6); }
.menu-about {
  background: black;
  padding: 0;
  width: 305px;
  height: 477px;
  overflow: hidden; }
  .menu-about-option {
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    cursor: pointer;
    transition: color 0.25s linear; }
    .menu-about-option:hover {
      color: rgba(0, 0, 0, 0.6); }
  .menu-about-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .menu-about-arrow-button {
      font-size: 1.75em !important;
      color: white;
      margin: 3px;
      flex: 1;
      cursor: pointer;
      transition: color 0.15s linear; }
      .menu-about-arrow-button:hover {
        color: rgba(255, 255, 255, 0.85); }
  .menu-about-carousel {
    height: calc(100% * 3);
    width: 100%;
    transition: 0.6s all;
    transform: translateY(calc(100% / 3 * 1)); }
    .menu-about-carousel-page {
      height: calc(100% / 3 - 56px);
      padding: 28px 14px;
      width: calc(100% - 28px);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center; }
  .menu-about-physics {
    height: 100%;
    width: 100%; }
  .menu-about-text {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center; }
.menu-projects {
  background: white; }
  .menu-projects-option {
    height: 25%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s linear;
    background-position: center;
    background-size: cover; }
    .menu-projects-option-text {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }
.menu-contact {
  background: white; }
  .menu-contact-option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu-contact-option-text {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      font-size: 2em;
      cursor: pointer;
      margin: 0;
      transition: opacity 0.15s linear;
      color: black; }
      .menu-contact-option-text:hover {
        opacity: .6; }

#about-page-up {
  color: gray;
  cursor: auto; }

#projects-awge:hover {
  color: white;
  background-image: url("../../assets/project-awge.png"); }
#projects-portal:hover {
  color: white;
  background-image: url("../../assets/project-portal.png"); }
#projects-sounddown:hover {
  color: #949494;
  background-image: url("../../assets/project-sounddown.png"); }
#projects-nessly:hover {
  color: white;
  background-image: url("../../assets/project-nessly.png"); }
#projects-revenge:hover {
  color: white;
  background-image: url("../../assets/project-revenge.png"); }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: transform 0.75s ease-out, opacity 0.75s ease-out;
  color: white;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: none; }
  .modal-close {
    color: black;
    text-align: right;
    margin: 20px;
    right: 0;
    cursor: pointer;
    transition: color 0.15s linear;
    position: absolute; }
    .modal-close:hover {
      color: rgba(0, 0, 0, 0.6); }
  .modal-content {
    width: 100%;
    min-height: 100%;
    height: 100%;
    color: black;
    background-image: url("../../assets/space.png"); }
  .modal-svg {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; }
    .modal-svg-line {
      stroke: black;
      stroke-width: 3px; }
  .modal-girl-image {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3vh 3vw;
    height: 378px; }
  .modal-handle {
    position: absolute;
    transform-origin: 19.8% 95%;
    height: 97.59px;
    transition: 1s linear transform;
    transform: rotate(calc(0deg - 25.5deg)); }
  .modal-comet {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 1px;
    height: 1px;
    background-color: white;
    position: fixed;
    animation-name: particleAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .modal-comet::before {
      position: absolute;
      display: block;
      content: "";
      width: 100px;
      right: 1px;
      top: 0px;
      height: 1px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%); }
    .modal-comet-1 {
      animation-duration: 10s; }
    .modal-comet-2 {
      animation-duration: 5s;
      top: 30%; }
    .modal-comet-3 {
      animation-duration: 6s;
      top: 65%; }
    .modal-comet-4 {
      animation-duration: 7s;
      top: 80%; }
  .modal-space {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block; }
    .modal-space-stars {
      background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center; }
    .modal-space-twinkling {
      background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
      -moz-animation: move-twink-back 250s linear infinite;
      -ms-animation: move-twink-back 250s linear infinite;
      -o-animation: move-twink-back 250s linear infinite;
      -webkit-animation: move-twink-back 250s linear infinite;
      animation: move-twink-back 250s linear infinite; }
  .modal-nav {
    position: absolute;
    text-align: right;
    top: 50px;
    right: 150px;
    background: white;
    color: black;
    z-index: 1;
    padding: 10px;
    border-radius: 10px; }
    .modal-nav-title {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      color: black; }
    .modal-nav-button {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      cursor: pointer;
      transition: opacity .25s linear;
      color: black; }
      .modal-nav-button:hover {
        opacity: .6; }
  .modal-unit-gallery {
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    width: 600px;
    height: 600px;
    display: flex;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity .25s linear; }
    .modal-unit-gallery-left {
      cursor: url(../../assets/precedent.cur), auto;
      flex: 1; }
    .modal-unit-gallery-right {
      cursor: url(../../assets/suivant.cur), auto;
      flex: 1; }
  .modal-unit-about {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
    left: 35%;
    color: white; }
    .modal-unit-about-text {
      color: white;
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }
  .modal-unit :root {
    --portalDeg: 1;
    --portalX: -50%;
    --portalY: -50%; }
  .modal-unit-portal {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
    .modal-unit-portal:hover > .modal-unit-portal-layer {
      width: 150px;
      height: 150px; }
    .modal-unit-portal:hover > .modal-unit-portal-text {
      opacity: 0.6;
      animation: none; }
    .modal-unit-portal-layer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(var(--portalX, -50%), var(--portalY, -50%)) rotate(0deg);
      font-size: 20vmin;
      width: 200px;
      height: 200px;
      border-radius: 90% 95% 85% 105%;
      background: #0f0;
      filter: hue-rotate(0deg);
      animation: portalWobble calc(150ms * var(--portalT)) linear infinite;
      transform-origin: -var(--portalY) -var(--portalX);
      box-shadow: 0 0 .5em .2em #000 inset, 0 0 .15em 0 #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: width calc(10ms * var(--portalT)) linear, height calc(10ms * var(--portalT)) linear; }
      .modal-unit-portal-layer::after {
        font-size: 1em;
        white-space: nowrap; }
      .modal-unit-portal-layer:nth-child(1) {
        --portalX: -53%;
        --portalY: -53%;
        --portalT: 37; }
      .modal-unit-portal-layer:nth-child(2) {
        --portalX: -47%;
        --portalY: -52%;
        --portalT: 58; }
      .modal-unit-portal-layer:nth-child(3) {
        --portalX: -45%;
        --portalY: -50%;
        --portalT: 46; }
      .modal-unit-portal-layer:nth-child(4) {
        --portalX: -53%;
        --portalY: -45%;
        --portalT: 72; }
      .modal-unit-portal-layer:nth-child(5) {
        --portalX: -55%;
        --portalY: -45%;
        --portalT: 62; }
    .modal-unit-portal-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      margin: 0;
      transition: opacity 0.5s linear;
      opacity: 0;
      color: white;
      animation: portalFlicker 2s linear infinite;
      text-align: center; }

@keyframes portalWobble {
  to {
    filter: hue-rotate(360deg);
    transform: translate(var(--portalX), var(--portalY)) rotate(360deg); } }
@keyframes portalFlicker {
  0% {
    opacity: 0.4; }
  35% {
    opacity: 0.1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.4; } }
@keyframes particleAnimation {
  from {
    left: -100px; }
  to {
    left: calc( 100% + 100px); } }
@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }
.splash-svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none; }
  .splash-svg svg {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible; }
    .splash-svg svg rect {
      width: 100%;
      height: 100%;
      fill: black;
      stroke: 0;
      -webkit-clip-path: polygon(calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
      clip-path: polygon(calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
      animation: modal-minify 0.7s linear forwards; }
  .splash-svg-open svg rect {
    animation: modal-expand 0.7s linear forwards; }

@-webkit-keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@-moz-keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@-o-keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@-webkit-keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@-moz-keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@-o-keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
.stars {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 728px 1121px #FFF , 632px 1585px #FFF , 1006px 642px #FFF , 1609px 270px #FFF , 1051px 198px #FFF , 844px 1405px #FFF , 521px 1549px #FFF , 1554px 937px #FFF , 684px 150px #FFF , 1446px 1879px #FFF , 1756px 1984px #FFF , 1846px 230px #FFF , 305px 213px #FFF , 739px 215px #FFF , 551px 815px #FFF , 1864px 178px #FFF , 1525px 1753px #FFF , 596px 1741px #FFF , 143px 697px #FFF , 229px 1645px #FFF , 246px 1438px #FFF , 746px 296px #FFF , 130px 1339px #FFF , 1592px 42px #FFF , 1225px 937px #FFF , 936px 1219px #FFF , 727px 731px #FFF , 581px 1954px #FFF , 1312px 866px #FFF , 514px 498px #FFF , 343px 458px #FFF , 1575px 454px #FFF , 1306px 1393px #FFF , 1028px 1634px #FFF , 1135px 745px #FFF , 434px 1115px #FFF , 438px 1254px #FFF , 327px 1164px #FFF , 523px 857px #FFF , 1088px 462px #FFF , 876px 1909px #FFF , 1433px 763px #FFF , 364px 871px #FFF , 1766px 648px #FFF , 1368px 1052px #FFF , 868px 1374px #FFF , 1313px 1197px #FFF , 1px 818px #FFF , 1845px 839px #FFF , 60px 1536px #FFF , 60px 162px #FFF , 1379px 1290px #FFF , 167px 70px #FFF , 1739px 101px #FFF , 93px 1135px #FFF , 1598px 1018px #FFF , 986px 224px #FFF , 1854px 1002px #FFF , 762px 1367px #FFF , 1944px 1106px #FFF , 1698px 1116px #FFF , 1281px 735px #FFF , 1827px 1574px #FFF , 525px 251px #FFF , 1170px 1727px #FFF , 947px 790px #FFF , 1289px 1133px #FFF , 1610px 562px #FFF , 539px 1818px #FFF , 1869px 270px #FFF , 1343px 1526px #FFF , 713px 1351px #FFF , 668px 511px #FFF , 959px 1841px #FFF , 1526px 1348px #FFF , 1894px 1332px #FFF , 1979px 1033px #FFF , 1701px 990px #FFF , 1647px 136px #FFF , 1141px 1272px #FFF , 1379px 1358px #FFF , 1325px 1045px #FFF , 403px 423px #FFF , 730px 638px #FFF , 1562px 1600px #FFF , 539px 1076px #FFF , 1980px 553px #FFF , 990px 1310px #FFF , 1678px 459px #FFF , 888px 1164px #FFF , 1141px 1719px #FFF , 1460px 652px #FFF , 1331px 330px #FFF , 1553px 1110px #FFF , 1654px 1927px #FFF , 1571px 228px #FFF , 38px 604px #FFF , 1307px 283px #FFF , 436px 1960px #FFF , 1312px 802px #FFF , 1860px 500px #FFF , 1696px 559px #FFF , 1231px 715px #FFF , 728px 107px #FFF , 1645px 1700px #FFF , 699px 235px #FFF , 1828px 166px #FFF , 1669px 1976px #FFF , 1914px 1318px #FFF , 131px 1760px #FFF , 927px 1315px #FFF , 1486px 313px #FFF , 666px 234px #FFF , 443px 1352px #FFF , 1161px 1066px #FFF , 909px 251px #FFF , 1096px 561px #FFF , 1928px 1027px #FFF , 974px 538px #FFF , 279px 656px #FFF , 1238px 1387px #FFF , 1669px 107px #FFF , 1725px 183px #FFF , 890px 1306px #FFF , 1106px 1636px #FFF , 1532px 229px #FFF , 1215px 707px #FFF , 397px 1254px #FFF , 360px 827px #FFF , 774px 985px #FFF , 1117px 1044px #FFF , 1438px 1979px #FFF , 1598px 1068px #FFF , 902px 1791px #FFF , 470px 1670px #FFF , 997px 85px #FFF , 982px 716px #FFF , 1919px 741px #FFF , 1136px 234px #FFF , 348px 1537px #FFF , 803px 10px #FFF , 942px 1542px #FFF , 1136px 548px #FFF , 1956px 88px #FFF , 847px 230px #FFF , 657px 155px #FFF , 377px 1919px #FFF , 351px 276px #FFF , 229px 722px #FFF , 1860px 1852px #FFF , 1628px 790px #FFF;
  animation: animStar 150s linear infinite;
  position: absolute;
  top: 0;
  left: 0; }
  .stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 728px 1121px #FFF , 632px 1585px #FFF , 1006px 642px #FFF , 1609px 270px #FFF , 1051px 198px #FFF , 844px 1405px #FFF , 521px 1549px #FFF , 1554px 937px #FFF , 684px 150px #FFF , 1446px 1879px #FFF , 1756px 1984px #FFF , 1846px 230px #FFF , 305px 213px #FFF , 739px 215px #FFF , 551px 815px #FFF , 1864px 178px #FFF , 1525px 1753px #FFF , 596px 1741px #FFF , 143px 697px #FFF , 229px 1645px #FFF , 246px 1438px #FFF , 746px 296px #FFF , 130px 1339px #FFF , 1592px 42px #FFF , 1225px 937px #FFF , 936px 1219px #FFF , 727px 731px #FFF , 581px 1954px #FFF , 1312px 866px #FFF , 514px 498px #FFF , 343px 458px #FFF , 1575px 454px #FFF , 1306px 1393px #FFF , 1028px 1634px #FFF , 1135px 745px #FFF , 434px 1115px #FFF , 438px 1254px #FFF , 327px 1164px #FFF , 523px 857px #FFF , 1088px 462px #FFF , 876px 1909px #FFF , 1433px 763px #FFF , 364px 871px #FFF , 1766px 648px #FFF , 1368px 1052px #FFF , 868px 1374px #FFF , 1313px 1197px #FFF , 1px 818px #FFF , 1845px 839px #FFF , 60px 1536px #FFF , 60px 162px #FFF , 1379px 1290px #FFF , 167px 70px #FFF , 1739px 101px #FFF , 93px 1135px #FFF , 1598px 1018px #FFF , 986px 224px #FFF , 1854px 1002px #FFF , 762px 1367px #FFF , 1944px 1106px #FFF , 1698px 1116px #FFF , 1281px 735px #FFF , 1827px 1574px #FFF , 525px 251px #FFF , 1170px 1727px #FFF , 947px 790px #FFF , 1289px 1133px #FFF , 1610px 562px #FFF , 539px 1818px #FFF , 1869px 270px #FFF , 1343px 1526px #FFF , 713px 1351px #FFF , 668px 511px #FFF , 959px 1841px #FFF , 1526px 1348px #FFF , 1894px 1332px #FFF , 1979px 1033px #FFF , 1701px 990px #FFF , 1647px 136px #FFF , 1141px 1272px #FFF , 1379px 1358px #FFF , 1325px 1045px #FFF , 403px 423px #FFF , 730px 638px #FFF , 1562px 1600px #FFF , 539px 1076px #FFF , 1980px 553px #FFF , 990px 1310px #FFF , 1678px 459px #FFF , 888px 1164px #FFF , 1141px 1719px #FFF , 1460px 652px #FFF , 1331px 330px #FFF , 1553px 1110px #FFF , 1654px 1927px #FFF , 1571px 228px #FFF , 38px 604px #FFF , 1307px 283px #FFF , 436px 1960px #FFF , 1312px 802px #FFF , 1860px 500px #FFF , 1696px 559px #FFF , 1231px 715px #FFF , 728px 107px #FFF , 1645px 1700px #FFF , 699px 235px #FFF , 1828px 166px #FFF , 1669px 1976px #FFF , 1914px 1318px #FFF , 131px 1760px #FFF , 927px 1315px #FFF , 1486px 313px #FFF , 666px 234px #FFF , 443px 1352px #FFF , 1161px 1066px #FFF , 909px 251px #FFF , 1096px 561px #FFF , 1928px 1027px #FFF , 974px 538px #FFF , 279px 656px #FFF , 1238px 1387px #FFF , 1669px 107px #FFF , 1725px 183px #FFF , 890px 1306px #FFF , 1106px 1636px #FFF , 1532px 229px #FFF , 1215px 707px #FFF , 397px 1254px #FFF , 360px 827px #FFF , 774px 985px #FFF , 1117px 1044px #FFF , 1438px 1979px #FFF , 1598px 1068px #FFF , 902px 1791px #FFF , 470px 1670px #FFF , 997px 85px #FFF , 982px 716px #FFF , 1919px 741px #FFF , 1136px 234px #FFF , 348px 1537px #FFF , 803px 10px #FFF , 942px 1542px #FFF , 1136px 548px #FFF , 1956px 88px #FFF , 847px 230px #FFF , 657px 155px #FFF , 377px 1919px #FFF , 351px 276px #FFF , 229px 722px #FFF , 1860px 1852px #FFF , 1628px 790px #FFF; }

/*# sourceMappingURL=rectangle.css.map */
