@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.content-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  margin: 0;
  overflow: hidden; }

@keyframes textColor {
  0% {
    color: #7e0fff; }
  50% {
    color: #0fffc1; }
  100% {
    color: #7e0fff; } }
.rect-box {
  width: 305px;
  height: 477.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white; }
.rect-menu {
  width: 249px;
  height: 421.500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .rect-menu-container {
    opacity: 0;
    transition: width 0.75s ease-out, height 0.75s ease-out, opacity 2s ease-in-out, border 1.45s ease-in-out;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 7px solid black; }
.rect-background {
  width: 0;
  height: 0;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  transition: 0.25s height cubic-bezier(0.4, 0, 1, 1), 0.25s width cubic-bezier(0.4, 0, 1, 1);
  z-index: -1; }

.hand {
  position: absolute;
  opacity: 0;
  transition: opacity 1.6s ease-in-out;
  z-index: 5;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none; }
  .hand-despair {
    top: 79%;
    left: -70%; }
  .hand-help {
    top: -24%;
    left: 74%; }
  .hand-image-despair {
    height: 195px;
    width: auto; }
  .hand-image-help {
    height: 310px;
    width: auto; }

.menu-main-title {
  color: black;
  text-align: center;
  margin: 0;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  cursor: pointer; }
.menu-nav {
  display: none;
  opacity: 0; }
  .menu-nav-option {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    cursor: pointer;
    transition: color 0.25s linear; }
    .menu-nav-option:hover {
      color: rgba(0, 0, 0, 0.6); }
.menu-about {
  background: black;
  padding: 0;
  width: 305px;
  height: 477px; }
  .menu-about-option {
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    cursor: pointer;
    transition: color 0.25s linear; }
    .menu-about-option:hover {
      color: rgba(0, 0, 0, 0.6); }
  .menu-about-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .menu-about-arrow-button {
      font-size: 1.75em !important;
      color: white;
      margin: 3px;
      flex: 1;
      cursor: pointer;
      transition: color 0.15s linear; }
      .menu-about-arrow-button:hover {
        color: rgba(255, 255, 255, 0.85); }
  .menu-about-physics {
    height: 100%;
    width: 100%; }
  .menu-about-text {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center; }
.menu-projects {
  background: white; }
  .menu-projects-option {
    height: 25%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s linear;
    background-position: center;
    background-size: cover; }
    .menu-projects-option-text {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }
.menu-contact {
  background: white; }
  .menu-contact-option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu-contact-option-text {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      font-size: 2em;
      cursor: pointer;
      margin: 0;
      transition: color 0.15s linear;
      color: black; }
      .menu-contact-option-text:hover {
        color: rgba(255, 255, 255, 0.85); }

#about-page-up {
  color: gray;
  cursor: auto; }

#projects-awge:hover {
  color: white;
  background-image: url("../../assets/project-awge.png"); }
#projects-portal:hover {
  color: white;
  background-image: url("../../assets/project-portal.png"); }
#projects-sounddown:hover {
  color: #949494;
  background-image: url("../../assets/project-sounddown.png"); }
#projects-nessly:hover {
  color: white;
  background-image: url("../../assets/project-nessly.png"); }
#projects-revenge:hover {
  color: white;
  background-image: url("../../assets/project-revenge.png"); }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: transform 0.75s ease-out, opacity 0.75s ease-out;
  color: white;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: none; }
  .modal-close {
    color: black;
    text-align: right;
    width: calc(100% - 40px);
    margin: 20px;
    cursor: pointer;
    transition: color 0.15s linear;
    position: absolute; }
    .modal-close:hover {
      color: rgba(0, 0, 0, 0.6); }
  .modal-content {
    width: 100%;
    min-height: 100%;
    height: 100%;
    color: black;
    clip-path: url(#lightClip);
    background-image: url("../../assets/space.png"); }
  .modal-svg {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; }
    .modal-svg-line {
      stroke: black;
      stroke-width: 3px; }
  .modal-girl-image {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3vh 3vw;
    height: 378px; }
  .modal-handle {
    position: absolute;
    transform-origin: 19.8% 95%;
    height: 97.59px;
    transition: 1s linear transform;
    transform: rotate(calc(0deg - 25.5deg)); }
  .modal-unit-gallery {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 200px;
    display: flex;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity .25s linear; }
    .modal-unit-gallery-left {
      cursor: url(../../assets/precedent.cur), auto;
      flex: 1; }
    .modal-unit-gallery-right {
      cursor: url(../../assets/suivant.cur), auto;
      flex: 1; }

.splash-svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none; }
  .splash-svg svg {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible; }
    .splash-svg svg rect {
      width: 100%;
      height: 100%;
      fill: black;
      stroke: 0;
      -webkit-clip-path: polygon(calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
      clip-path: polygon(calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
      animation: modal-minify 0.7s linear forwards; }
  .splash-svg-open svg rect {
    animation: modal-expand 0.7s linear forwards; }

@-webkit-keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@-moz-keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@-o-keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@keyframes modal-expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; } }
@-webkit-keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@-moz-keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@-o-keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@keyframes modal-minify {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: white; }
  25% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), 0% 100%); }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  75% {
    -webkit-clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * 1)), calc(50% - (16px / -2 * 1)) calc(50% - (16px / 2 * -1)), calc(50% - (16px / -2 * -1)) calc(50% - (16px / 2 * -1))); }
  100% {
    fill: black; } }
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
.stars {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1279px 69px #FFF , 1175px 916px #FFF , 1194px 1734px #FFF , 1841px 1082px #FFF , 905px 310px #FFF , 1830px 1026px #FFF , 209px 1788px #FFF , 1356px 242px #FFF , 818px 1126px #FFF , 1143px 73px #FFF , 1750px 149px #FFF , 1404px 1876px #FFF , 1293px 1094px #FFF , 1481px 61px #FFF , 888px 736px #FFF , 1777px 1479px #FFF , 1683px 1816px #FFF , 1740px 67px #FFF , 1849px 1814px #FFF , 1654px 1057px #FFF , 922px 1424px #FFF , 1207px 1874px #FFF , 930px 1790px #FFF , 865px 1295px #FFF , 496px 1954px #FFF , 260px 1263px #FFF , 1687px 440px #FFF , 562px 1021px #FFF , 189px 936px #FFF , 345px 1199px #FFF , 1373px 1372px #FFF , 74px 730px #FFF , 185px 432px #FFF , 938px 1184px #FFF , 275px 981px #FFF , 1422px 1339px #FFF , 1304px 1439px #FFF , 669px 1510px #FFF , 1454px 1090px #FFF , 608px 9px #FFF , 1336px 859px #FFF , 442px 508px #FFF , 629px 1206px #FFF , 1120px 1630px #FFF , 16px 1484px #FFF , 76px 883px #FFF , 1397px 230px #FFF , 1871px 383px #FFF , 1400px 1258px #FFF , 953px 1961px #FFF , 275px 1172px #FFF , 256px 145px #FFF , 343px 267px #FFF , 1298px 168px #FFF , 850px 1139px #FFF , 1037px 1982px #FFF , 1331px 346px #FFF , 1707px 1382px #FFF , 909px 1079px #FFF , 1543px 1577px #FFF , 1450px 51px #FFF , 397px 1643px #FFF , 974px 1653px #FFF , 1788px 549px #FFF , 1568px 621px #FFF , 779px 1051px #FFF , 1767px 309px #FFF , 455px 86px #FFF , 785px 791px #FFF , 463px 901px #FFF , 1447px 1131px #FFF , 1873px 1637px #FFF , 1649px 1391px #FFF , 173px 465px #FFF , 1936px 1110px #FFF , 1115px 1405px #FFF , 434px 1642px #FFF , 1865px 1143px #FFF , 1178px 461px #FFF , 1216px 636px #FFF , 287px 206px #FFF , 1678px 1913px #FFF , 820px 1027px #FFF , 395px 1718px #FFF , 1958px 1270px #FFF , 1207px 903px #FFF , 1391px 288px #FFF , 940px 47px #FFF , 1978px 1337px #FFF , 210px 1526px #FFF , 847px 867px #FFF , 568px 31px #FFF , 1479px 930px #FFF , 1501px 789px #FFF , 1996px 485px #FFF , 427px 452px #FFF , 1952px 1605px #FFF , 1641px 427px #FFF , 1407px 757px #FFF , 979px 1196px #FFF , 1232px 1600px #FFF , 1394px 1231px #FFF , 1535px 1259px #FFF , 787px 1778px #FFF , 1224px 1929px #FFF , 1914px 1791px #FFF , 1522px 1703px #FFF , 1572px 400px #FFF , 1152px 1815px #FFF , 676px 1114px #FFF , 128px 1958px #FFF , 1264px 1113px #FFF , 1461px 643px #FFF , 651px 1484px #FFF , 553px 1851px #FFF , 1583px 1946px #FFF , 75px 91px #FFF , 1307px 482px #FFF , 897px 920px #FFF , 1125px 1596px #FFF , 204px 131px #FFF , 1373px 1918px #FFF , 578px 1540px #FFF , 160px 316px #FFF , 714px 1949px #FFF , 1098px 1817px #FFF , 1229px 496px #FFF , 1930px 626px #FFF , 1653px 219px #FFF , 1648px 398px #FFF , 1866px 757px #FFF , 1338px 1415px #FFF , 1142px 43px #FFF , 1285px 624px #FFF , 348px 1380px #FFF , 878px 14px #FFF , 1326px 1335px #FFF , 1395px 1714px #FFF , 1581px 1580px #FFF , 114px 1301px #FFF , 31px 1410px #FFF , 1388px 1889px #FFF , 647px 310px #FFF , 453px 1721px #FFF , 1269px 1686px #FFF , 1452px 217px #FFF , 1363px 1313px #FFF , 616px 1697px #FFF , 1852px 1809px #FFF , 87px 1730px #FFF , 1853px 387px #FFF;
  animation: animStar 150s linear infinite;
  position: absolute;
  top: 0;
  left: 0; }
  .stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1279px 69px #FFF , 1175px 916px #FFF , 1194px 1734px #FFF , 1841px 1082px #FFF , 905px 310px #FFF , 1830px 1026px #FFF , 209px 1788px #FFF , 1356px 242px #FFF , 818px 1126px #FFF , 1143px 73px #FFF , 1750px 149px #FFF , 1404px 1876px #FFF , 1293px 1094px #FFF , 1481px 61px #FFF , 888px 736px #FFF , 1777px 1479px #FFF , 1683px 1816px #FFF , 1740px 67px #FFF , 1849px 1814px #FFF , 1654px 1057px #FFF , 922px 1424px #FFF , 1207px 1874px #FFF , 930px 1790px #FFF , 865px 1295px #FFF , 496px 1954px #FFF , 260px 1263px #FFF , 1687px 440px #FFF , 562px 1021px #FFF , 189px 936px #FFF , 345px 1199px #FFF , 1373px 1372px #FFF , 74px 730px #FFF , 185px 432px #FFF , 938px 1184px #FFF , 275px 981px #FFF , 1422px 1339px #FFF , 1304px 1439px #FFF , 669px 1510px #FFF , 1454px 1090px #FFF , 608px 9px #FFF , 1336px 859px #FFF , 442px 508px #FFF , 629px 1206px #FFF , 1120px 1630px #FFF , 16px 1484px #FFF , 76px 883px #FFF , 1397px 230px #FFF , 1871px 383px #FFF , 1400px 1258px #FFF , 953px 1961px #FFF , 275px 1172px #FFF , 256px 145px #FFF , 343px 267px #FFF , 1298px 168px #FFF , 850px 1139px #FFF , 1037px 1982px #FFF , 1331px 346px #FFF , 1707px 1382px #FFF , 909px 1079px #FFF , 1543px 1577px #FFF , 1450px 51px #FFF , 397px 1643px #FFF , 974px 1653px #FFF , 1788px 549px #FFF , 1568px 621px #FFF , 779px 1051px #FFF , 1767px 309px #FFF , 455px 86px #FFF , 785px 791px #FFF , 463px 901px #FFF , 1447px 1131px #FFF , 1873px 1637px #FFF , 1649px 1391px #FFF , 173px 465px #FFF , 1936px 1110px #FFF , 1115px 1405px #FFF , 434px 1642px #FFF , 1865px 1143px #FFF , 1178px 461px #FFF , 1216px 636px #FFF , 287px 206px #FFF , 1678px 1913px #FFF , 820px 1027px #FFF , 395px 1718px #FFF , 1958px 1270px #FFF , 1207px 903px #FFF , 1391px 288px #FFF , 940px 47px #FFF , 1978px 1337px #FFF , 210px 1526px #FFF , 847px 867px #FFF , 568px 31px #FFF , 1479px 930px #FFF , 1501px 789px #FFF , 1996px 485px #FFF , 427px 452px #FFF , 1952px 1605px #FFF , 1641px 427px #FFF , 1407px 757px #FFF , 979px 1196px #FFF , 1232px 1600px #FFF , 1394px 1231px #FFF , 1535px 1259px #FFF , 787px 1778px #FFF , 1224px 1929px #FFF , 1914px 1791px #FFF , 1522px 1703px #FFF , 1572px 400px #FFF , 1152px 1815px #FFF , 676px 1114px #FFF , 128px 1958px #FFF , 1264px 1113px #FFF , 1461px 643px #FFF , 651px 1484px #FFF , 553px 1851px #FFF , 1583px 1946px #FFF , 75px 91px #FFF , 1307px 482px #FFF , 897px 920px #FFF , 1125px 1596px #FFF , 204px 131px #FFF , 1373px 1918px #FFF , 578px 1540px #FFF , 160px 316px #FFF , 714px 1949px #FFF , 1098px 1817px #FFF , 1229px 496px #FFF , 1930px 626px #FFF , 1653px 219px #FFF , 1648px 398px #FFF , 1866px 757px #FFF , 1338px 1415px #FFF , 1142px 43px #FFF , 1285px 624px #FFF , 348px 1380px #FFF , 878px 14px #FFF , 1326px 1335px #FFF , 1395px 1714px #FFF , 1581px 1580px #FFF , 114px 1301px #FFF , 31px 1410px #FFF , 1388px 1889px #FFF , 647px 310px #FFF , 453px 1721px #FFF , 1269px 1686px #FFF , 1452px 217px #FFF , 1363px 1313px #FFF , 616px 1697px #FFF , 1852px 1809px #FFF , 87px 1730px #FFF , 1853px 387px #FFF; }

/*# sourceMappingURL=rectangle.css.map */
