@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
body {
  margin: 0;
  overflow: hidden; }

@keyframes textColor {
  0% {
    color: #7e0fff; }
  50% {
    color: #0fffc1; }
  100% {
    color: #7e0fff; } }
.rect-box {
  width: 345px;
  height: 517.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white; }
.rect-border {
  z-index: 4;
  opacity: 0;
  position: absolute;
  margin: 20px;
  width: calc(100% - (20px * 2));
  height: calc(100% - (20px * 2));
  box-shadow: inset 0 0 0 7px black;
  pointer-events: none;
  transition: width 0.75s ease-out, height 0.75s ease-out, opacity 2s ease-in-out, box-shadow 1.45s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateX(-20px) translateY(-50%) translateY(-20px); }
.rect-menu {
  width: calc(100% - (28px * 2));
  height: calc(100% - (28px * 2));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 28px; }
  .rect-menu-container {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    overflow: hidden; }
.rect-background {
  width: 0;
  height: 0;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  transition: 0.25s height cubic-bezier(0.4, 0, 1, 1), 0.25s width cubic-bezier(0.4, 0, 1, 1);
  z-index: -1; }

.hand {
  position: absolute;
  opacity: 0;
  transition: opacity 1.6s ease-in-out;
  z-index: 5; }
  .hand-despair {
    top: 75%;
    left: -60%; }
  .hand-help {
    top: -15%;
    left: 72%; }
  .hand-image-despair {
    height: 195px;
    width: auto; }
  .hand-image-help {
    height: 310px;
    width: auto; }

.menu-main-title {
  color: black;
  text-align: center;
  margin: 0;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  cursor: pointer; }
.menu-nav {
  display: none;
  opacity: 0; }
  .menu-nav-option {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    cursor: pointer;
    transition: color 0.25s linear; }
    .menu-nav-option:hover {
      color: rgba(0, 0, 0, 0.6); }
.menu-about {
  background: white; }
  .menu-about-option {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    cursor: pointer;
    transition: color 0.25s linear; }
    .menu-about-option:hover {
      color: rgba(0, 0, 0, 0.6); }
.menu-contact {
  background: white; }
  .menu-contact-option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu-contact-option-text {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      font-size: 2em;
      cursor: pointer;
      margin: 0;
      transition: color 0.15s linear;
      color: black; }
      .menu-contact-option-text:hover {
        color: rgba(255, 255, 255, 0.85); }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(-7.5vh);
  opacity: 0;
  transition: transform 0.75s ease-out, opacity 0.75s ease-out;
  color: white;
  width: 100%;
  display: none; }
  .modal-close {
    color: white;
    text-align: right;
    width: calc(100% - 40px);
    margin: 20px;
    cursor: pointer;
    transition: color 0.15s linear; }
    .modal-close:hover {
      color: rgba(255, 255, 255, 0.6); }

.splash-svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none; }
  .splash-svg svg {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible; }
    .splash-svg svg rect {
      width: 100%;
      height: 100%;
      fill: black;
      stroke: 0;
      -webkit-clip-path: polygon(calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
      clip-path: polygon(calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1))); }

@-webkit-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: black; }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: black; } }
@-moz-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: black; }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: black; } }
@-o-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: black; }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: black; } }
@keyframes expand {
  25% {
    -webkit-clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * 1)), calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: white; }
  50% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), calc(50% + (14px / 2 * -1)) calc(50% - (14px / 2 * -1)));
    fill: black; }
  75% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(50% + (14px / 2 * 1)) calc(50% - (14px / 2 * -1)), 0% 100%);
    fill: white; }
  100% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    fill: black; } }
.animate-svg {
  display: initial; }
  .animate-svg svg rect {
    -webkit-animation: expand 0.7s ease-in forwards;
    -moz-animation: expand 0.7s ease-in forwards;
    -o-animation: expand 0.7s ease-in forwards;
    animation: expand 0.7s ease-in forwards; }

.animate-svg-off svg rect {
  -webkit-animation: expand 0.7s ease-in backwards;
  -moz-animation: expand 0.7s ease-in backwards;
  -o-animation: expand 0.7s ease-in backwards;
  animation: expand 0.7s ease-in backwards; }

/*# sourceMappingURL=rectangle.css.map */
